@charset "utf-8";

.about {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 7%;
}

.about_background {
    padding: 20%;
    padding-bottom: 17%;
    background-image: url("../image/about.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.rotate {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-radius: 42px;
    box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.65);
}

.up {
    position: relative;
    z-index: 5;
    margin: 2%;
}

.down {
    position: relative;
    z-index: 4;
    margin: 2%;
}

.accordion-button:not(.collapsed) {
    color: #FFF !important;
    background-color: #ccc1b3 !important;
}



.accordion-button:link,
.accordion-button:visited,
.accordion-button:hover,
.accordion-button:active {
    background-color: #ccc1b3 !important;
    color: #FFF !important;
    text-decoration: none !important;
    border: hidden !important;
    border-color: #FFF !important;
    box-shadow: 0px !important;


}

.accordion-button:focus {
    z-index: 3;
    border-color: #FFF !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem #FFF !important;
}