@charset "utf-8";

.member {
    background-image: url("../image/client.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.information {
    padding-top: 20%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 40%;
}

.information_bg {
    padding: 6%;
    background-color: rgba(42, 55, 56, 0.6);
    color: white;
    border-radius: 30px;
}

.button_blue {
    background-color: #ccc1b3;
    border: #ccc1b3;
}


.button_blue:hover {
    background-color: #96877b;
    border: #96877b;
}

.register_word:hover {
    cursor: pointer;
    color: #ccc1b3;
}