@charset "utf-8";

.coin_page {
    background-image: url("../image/coin.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #efefef;
}

.coin_bg {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 9%;
}

.load {
    padding: 30%;
    background-color: #efefef;
}

.load_img {
    filter: blur(5px);
}