@charset "utf-8";

.like_page {
    /* background: url('../image/like.jpg'); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color: #efefef;
}

.like_bg {

    padding: 15%;
    padding-top: 7%;
    padding-bottom: 6%;
}

.each_like {
    background-color: #cacdd4;
    border-radius: 30px;
    padding: 2%;
    margin: 2%;
    margin-right: 4%;
    margin-left: 4%;
    color: #454d9b;
}

.each_like:hover {
    box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.65);
    transition-duration: .5s;
}