@charset "utf-8";

.product_bg {
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.product {
    padding: 5%;
}

.each {
    background-color: #cacdd4;
    border-radius: 30px;
    padding: 2%;
    margin: 2%;
    margin-right: 4%;
    margin-left: 4%;
    color: #454d9b;
}

.each:hover {
    box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.65);
    transition-duration: .5s;
}

.product_page {
    /* background-color: #efefef; */
    background: url('../image/product_bg.jpg') top no-repeat fixed;
}