@charset "utf-8";
/* for all the files */

::selection {
    color: #ffffff;
    background: #b88e50;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ccc1b3;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: #616bc6;
    border-radius: 30px;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

p {
    text-align: justify;
    line-height: 2;
}

.hr_blue {
    border-top: 2px solid rgb(69, 78, 156);
}

.hr_white {
    border-top: 2px solid rgb(255, 255, 255);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar --------------------------------------------------------*/

.navbar {
    width: 100%;
    height: 64px;
    top: 0;
    position: fixed;
    z-index: 999;
    background-image: url("../image/nav_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

@media(min-width:1000px) {
    .navbar {
        padding-left: 66%;
    }

    .hamburger {
        padding: 0%;
    }
}

@media(min-width:400px) {
    .navbar {
        padding-left: 50%;
    }

    .hamburger {
        padding: 0%;
    }
}

@media(min-width:100px) {
    .hamburger {
        padding-left: 3%;
        background-color: #313b72;
    }
}


.logo {
    position: fixed;
    z-index: 100;
    top: 1%;
    left: 2%;
    height: 130px;
    width: 130px;
}

.hamburger {
    top: 7%;
    left: 20%;
}

.nav_title {
    font-size: larger;
}

.nav_title:hover {
    left: 2%;
    color: #ccc1b3;

}

/* Footer-------------------------------------------------------- */

footer {
    padding: 0%;
    background-color: #222230;
    color: white;
}

.footer_item {
    padding-top: 5%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
}